@use "./variables" as *;
@use "./typography.scss" as font;

:root {
    font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-size:  clamp(12px,(calc(100vw / 90)), 32px);

    color-scheme: light dark;
    color: $color-font-primary;
    background-color: $color-background-primary;
    background: $bkg-grad;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    /* place-items: center; */
    min-width: 320px;
    min-height: 100vh;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

h1,.h1, h2, h3, h4, h5, h6 {
    // @extend .poiret-one;
    @extend .roboto;
    line-height: 1.4em;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.75rem;
}
h3{
    font-size: 1.5rem;
}

.font-3xl,
.font-2xl,
.font-xl{
    font-weight: 400;
    margin-block-start: unset;
    margin-block-end: unset;
}


.font-3xl{
    font-size: 8rem;
    font-size: clamp(2rem, 8.8vw, 8rem);
}
.font-2xl{
    font-size: 6rem;
    font-size: clamp(1.75rem, 6.6vw, 6rem);
}
.font-xl{
    font-size: 3rem;
    font-size: clamp(1.5rem, 3.3vw, 3rem);
}



button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.card {
    padding: 2em;
}


@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

#app{
    margin: 0;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 5rem 1fr;
    width: clamp(500px, 100vw, 1080px);
    gap: 1rem;
    &, #component{
        width: 100%;
    }

    #component div{
        padding: 1.5rem;
        width: 100%;
    }
    .nav, .nav ul{
        margin: 0;
        position: sticky;
        top: 0px;
        height: 50vh;
    }

    .nav ul {
        // border: 1px solid white;
        padding: 0;

        li, li a{
            list-style-type: none;
            // border: 1px dotted blueviolet;
            display: block;
            width: 100%;
            font-weight: 400;
        }


        li, li::before, li:hover::before{
            transition: all 0.25s ease-in-out 0s;
        }

        li{
            position: relative;
            margin-block: 4px;
            padding: 2px;

            a{
                text-decoration: none;
                color: inherit;
            }
        }

        li::before{
            position: absolute;
            height: 2px;
            width: 0;
            left: 0;
            bottom: 2px;
            content: "";
            background: pink;
        }

        li:hover{
            scale: 1.125;
            &::before{
                left: -1%;
                background: $color-white;
            }
        }

        li:nth-child(1).current::before{
            background: $color-pink-med;
        }
        li:nth-child(2).current::before{
            background: $color-green-med;
        }
        li:nth-child(3).current::before{
            background: $color-blue-med;
        }
        li:nth-child(4).current::before{
            background: $color-blue-drk;
        }

        li:hover::before,
        li.current::before{
            width: 100%;
        }


        .current,
        li.current a{
            font-weight: bold;
            font-weight: 800;
        }


    }

    .right,
    .color-mode,
    .social-links{
        justify-items: end;
    }

    .right{
        position: fixed;
        top: 0;
        right: 0;
    }
}

#app #intro,
#app #about,
#app #portfolio,
#app #resume{
    &, & *{
        box-sizing: border-box;
    }
}


.grid, .row, .col{
    display: grid;
    grid-template-rows: auto;
}

.row{
    grid-auto-flow: column;
    grid-template-columns: auto;
}

.col{
    grid-auto-flow: row;
}

#app #intro{
    grid-template-rows: 1fr 3fr;

    .row{
        // display: flex;
        height: fit-content;
        width: fit-content;
        background-color: $color-white;


        h1, h2, h3, h4{
            color: $color-font-primary;
        }
    }

    .row:last-of-type{
        // grid-column: -1;
        // grid-row: -1/ span -1;
        place-self: end;
    }

}



// @media screen and (max-width: 800px) {
//     #app #intro{
//         h2,h3{font-size: large;}
//         h4{font-size: medium;}
//     }
// }


@media (prefers-color-scheme: light) {
}